:root {
    /* --neon: #ae7390;
    --main: #955775; */
    --neon: #e4a781;
    --main: #eae4e1;
    --background: #131313;
    --light_color: #ffffff;
    --dark_color: #131313;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
    background-color: var(--main);
    color: var(--dark_color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.highlighted {
    color: var(--neon);
    font-weight: 600;
}

header {
    background-color: transparent;
    color: var(--dark_color);
    padding: 1em 0;
    border-bottom: 2px solid #000; 
    padding-bottom: 12px;
    margin-bottom: 20px; 
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}

header nav a.site-title {
    color: var(--color);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

header nav ul li a {
    color: var(--dark_color);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5em 0;
    transition: color 0.1s ease;
}

/* header nav ul li a:hover {
    color: var(--light_color);
} */

#Registration{
    border-radius: 12px;
    padding: 6px 12px;
    background-color: var(--neon);
    font-weight: 600;
    color: var(--dark_color);
}

/* #Registration:hover{
    color: var(--light_color);
} */


main {
    max-width: 800px;
    margin: 2em auto;
    padding: 0em 2em;
    border-radius: 0;
    background-color: var(--main);
    flex-grow: 1;
    line-height: 1.6;
}

li {
    font-size: 1.2em;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--dark_color);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}


footer {
    text-align: center;
    padding: 0.5em 0;
    background-color: var(--background);
    color: var(--light_color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1.2rem; 
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    border: 2px solid var(--dark_color);
    background-color: var(--main);
    border-radius: 10px;
    padding: 1rem;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}