<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="../css/single.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
</head>
<body>
  {{ partial "header.html" . }}
  <main>
    {{ .Content }}
    <table class="timetable">
      <thead>
        <tr>
          <th>Time</th>
          <th>Activity / Speaker</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Params.timetable }}
        <tr>
          <td style="text-align: right">{{ .time }}</td>
          <td>
            {{ $group := .group }}
            {{ if eq $group ""}}
            <div class="special-activity">
            <em>{{ .activity }}</em>
            <div style="font-size: 12px">{{ .group }}</div>
            </div>
            {{ else }}
            <div>
            <strong>{{ .activity }}</strong>
            <div style="font-size: 12px">{{ .group }}</div>
            </div>
            {{ end }}
          </td>
          <td style="text-align: center">{{ .location }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </main>
  {{ partial "footer.html" . }}
</body>
</html>