<!-- Site by Joe Bacchus George © 2025 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="css/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="DoyDn9m7F4EbNEU_GsR7qKNhB9rw3IYSWPpfef2tvw0" />
    <meta name="description" content="Division F Conference 2025, an exhibition of current research in Information Engineering at Cambridge. Topics range from robotics and theoretical neuroscience to probabilistic machine learning and information theory.">
    <meta name="keywords" content="University of Cambridge, Division F Conference, Information Engineering, Control, Machine Intelligence, Computational and Biological Learning, Probabilistic Systems, Information and Inference"> 
    <meta name="author" content="Joe Bacchus George"> 

    <meta name="msapplication-TileColor" content="#fea97f"> 
    <meta name="theme-color" content="#fea97f"> 

    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileImage" content="images/ms-icon-150x150.png">
</head>
<body>
    {{ partial "header.html" . }}
    <div class="container">
        <main>
            <h1 style="margin-bottom: 0px; font-weight:1000">Division F Conference <span class="highlighted" style="font-weight:1000">2025</span></h1>
            <h2 style="max-width: 500px; margin-top: -10px;">An exhibition of current research in Information Engineering at Cambridge</h2>
            <p style="max-width: 500px;">{{ .Content }}</p>
        </main>

        <aside class="sidebar">
            <h3>Committee</h3>
            <ul>
                {{ range .Params.members }}
                    {{ if .chair }}
                    <br>
                        <h3>Chair</h3>
                    {{ end }}
                    <li>{{ .name }}, <strong>{{ .group }}</strong></li>
                {{ end }}
            </ul>
        </aside>
    </div>
    {{ partial "front_footer.html" . }}
</body>
</html>