<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="../css/single.css">

  <meta name="description" content="Division F Conference 2025, an exhibition of current research in Information Engineering at Cambridge. Topics range from robotics and theoretical neuroscience to probabilistic machine learning and information theory.">
  <meta name="keywords" content="University of Cambridge, Division F Conference, Information Engineering, Control, Machine Intelligence, Computational and Biological Learning, Probabilistic Systems, Information and Inference"> 
  <meta name="author" content="Joe Bacchus George"> 

  <meta name="msapplication-TileColor" content="#fea97f"> 
  <meta name="theme-color" content="#fea97f"> 

  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileImage" content="images/ms-icon-150x150.png">
</head>
<body>
  {{ partial "header.html" . }}
  <main class="timetable-grid">
    {{ range .Params.timetable }}
      {{ $group := .group }}
      {{ if ne $group "" }}
        <div class="speaker-card">
  <div class="speaker-content">
    <div class="double_cell" style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem">
      <h3>{{ .title }}</h3>
      <div style="text-align: right; font-size: 16px;">
        <p style="margin-bottom: -10px;">Time: {{ .time }}</p>
        <p>Location: {{ .location }}</p>
      </div>
    </div>
    <div>
      <p style="padding-bottom: 10px; text-align: justify;">{{ .description }}</p>
    </div>
    <div class="double_cell" style="margin-bottom: -20px; display: grid; grid-template-columns: 1fr 1fr; gap: 1rem; border-top: 1px solid var(--edge)">
      <div>
        <p style="margin-bottom: -10px"><strong>{{ .activity }}</strong></p>
        <p>{{ .group }}</p>
      </div>
      <div style="text-align: right; padding-top: 20px">
        {{ $slides := .slides }}
        {{ if ne $slides ""}}
          <a class="slides" style="text-decoration: none;" href={{ $slides }}>Slides</a>
        {{ end }}
      </div>
    </div>

  </div>
  </div>
      {{ end }}
    {{ end }}
  </main>
  {{ partial "footer.html" . }}
</body>
</html>